.dashboard{

display:grid;

grid-template-columns:260px 1fr 380px;

gap:30px;

padding:25px;

align-items:start;

max-width:1600px;

margin:auto;

}

.right-panel{

display:flex;

flex-direction:column;

gap:25px;

}

@media(max-width:1200px){

.dashboard{

grid-template-columns:1fr;

}

}