.navbar{

height:85px;

margin:18px;

padding:0 30px;

display:flex;

align-items:center;

justify-content:space-between;

position:sticky;

top:18px;

z-index:999;

}

.logo{

display:flex;

align-items:center;

gap:16px;

}

.logoCircle{

width:52px;

height:52px;

border-radius:18px;

display:flex;

align-items:center;

justify-content:center;

font-size:22px;

font-weight:700;

background:linear-gradient(
135deg,
#3b82f6,
#7c3aed
);

box-shadow:0 0 35px rgba(59,130,246,.4);

}

.logo h2{

font-size:22px;

font-weight:600;

}

.logo span{

font-size:13px;

opacity:.65;

}

.searchBox{

width:420px;

height:50px;

display:flex;

align-items:center;

gap:12px;

padding:0 18px;

border-radius:18px;

background:rgba(255,255,255,.05);

border:1px solid rgba(255,255,255,.08);

transition:.35s;

}

.searchBox:hover{

border-color:#3b82f6;

}

.searchBox svg{

font-size:20px;

opacity:.7;

}

.searchBox input{

width:100%;

border:none;

outline:none;

background:transparent;

font-size:15px;

color:white;

}

.searchBox input::placeholder{

color:#94a3b8;

}

.navActions{

display:flex;

align-items:center;

gap:15px;

}

.navActions button{

width:48px;

height:48px;

border:none;

border-radius:18px;

background:rgba(255,255,255,.05);

color:white;

font-size:20px;

display:flex;

align-items:center;

justify-content:center;

cursor:pointer;

transition:.35s;

}

.navActions button:hover{

background:rgba(255,255,255,.12);

box-shadow:0 0 25px rgba(59,130,246,.25);

}

.profile{

width:50px;

height:50px;

border-radius:18px;

display:flex;

align-items:center;

justify-content:center;

font-size:24px;

background:linear-gradient(
135deg,
#2563eb,
#7c3aed
);

cursor:pointer;

box-shadow:0 0 25px rgba(37,99,235,.4);

}

@media(max-width:1000px){

.searchBox{

display:none;

}

}